@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 137 63% 98%;
    --foreground: 137 72% 4%;
    --muted: 137 23% 93%;
    --muted-foreground: 137 1% 29%;
    --popover: 137 63% 97%;
    --popover-foreground: 137 72% 3%;
    --card: 137 63% 97%;
    --card-foreground: 137 72% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 137 45% 65%;
    --primary-foreground: 137 45% 5%;
    --secondary: 137 12% 86%;
    --secondary-foreground: 137 12% 26%;
    --accent: 137 18% 76%;
    --accent-foreground: 137 18% 16%;
    --destructive: 9 97% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 137 45% 65%;
    --chart-1: 137 45% 65%;
    --chart-2: 137 12% 86%;
    --chart-3: 137 18% 76%;
    --chart-4: 137 12% 89%;
    --chart-5: 137 48% 65%;
    --radius: 0.5rem;
    --brand-primary: 24 72% 53%;
    --brand-dark: 17 44% 45%;
    --brand-medium: 17 44% 61%;
    --brand-light: 20 56% 76%;
    --brand-cream: 30 100% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-brand-cream text-foreground;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite;
  animation-direction: var(--animation-direction);
}
