@tailwind base;
@tailwind components;
@tailwind utilities;

/* UTILITAIRES PERSO */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* VARIABLES CSS */
@layer base {
  :root {
    /* Couleurs personnalisées */
    --bleu-clair: 208 100% 91%; /* #CAE9FF */
    --bleu-moyen: 204 67% 61%; /* #5FA8D3 */
    --bleu-fonce: 205 55% 25%; /* #1B4965 */
    --jaune: 45 100% 48%; /* #F4B400 */

    /* Système de design */
    --background: var(--bleu-clair);
    --foreground: var(--bleu-fonce);
    --primary: var(--jaune);
    --primary-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }
}

/* BASE */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}

/* ANIMATIONS */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite;
  animation-direction: var(--animation-direction);
}
