@tailwind base;
@tailwind components;
@tailwind utilities;

/* UTILITAIRES PERSO */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* VARIABLES CSS */
@layer base {
  :root {
    /* Couleurs personnalisées */
    --bleu-clair: #cae9ff;
    --bleu-moyen: #5fa8d3;
    --bleu-fonce: #1b4965;
    --jaune: #f4b400;

    /* Système de design */
    --background: var(--bleu-clair);
    --foreground: var(--bleu-fonce);
    --primary: var(--jaune);
    --primary-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }
}

/* BASE */
@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: var(--background);
    color: hsl(var(--foreground));
  }
}

/* ANIMATIONS */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite;
  animation-direction: var(--animation-direction);
}
